target/test-classes/accounting/infoAccounting.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <quartz:connector name="QuartzS" validateConnections="true" doc:name="Quartz"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8099" doc:name="HTTP Request Configuration"/>
    <jms:activemq-connector name="Active_MQ1" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="contabilidadordenesFlow">
        <quartz:inbound-endpoint jobName="JobContabilidad" repeatInterval="10000" connector-ref="Quartz" responseTimeout="10000" doc:name="QuartzJobContabilidad">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <scatter-gather doc:name="Scatter-Gather">
            <processor-chain>
                <http:request config-ref="HTTP_Request_Configuration" path="/getInfoBills" method="GET" doc:name="HTTP_Bills"/>
                <json:json-to-object-transformer doc:name="JSON to Object"/>
                <object-to-string-transformer doc:name="Object to String"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
                <jms:outbound-endpoint doc:name="JMS_Bills" connector-ref="Active_MQ" queue="jms/contab/bills/queue"/>
            </processor-chain>
            <processor-chain>
                <http:request config-ref="HTTP_Request_Configuration" path="/getInfoInvoices" method="GET" doc:name="HTTP_Invoices"/>
                <json:json-to-object-transformer doc:name="JSON to Object"/>
                <object-to-string-transformer doc:name="Object to String"/>
                <logger level="INFO" doc:name="Logger"/>
                <jms:outbound-endpoint doc:name="JMS_Invoices" connector-ref="Active_MQ1" queue="jms/contab/invoices/queue"/>
            </processor-chain>
            <processor-chain>
                <http:request config-ref="HTTP_Request_Configuration" path="/getInfoReceipts" method="GET" doc:name="HTTP_Receipts"/>
                <json:json-to-object-transformer doc:name="JSON to Object"/>
                <object-to-string-transformer doc:name="Object to String"/>
                <logger level="INFO" doc:name="Logger"/>
                <jms:outbound-endpoint doc:name="JMS_Receipts" connector-ref="Active_MQ" queue="jms/contab/receipts/queue"/>
            </processor-chain>
        </scatter-gather>
    </flow>
</mule>
